body{
    background-color: #f1f1f1;
}

#div_chart{
    height: 500px;
    padding-left: 10%;
    padding-right: 10%;
}

.container-chart-info{
    padding-left: 12%;
    padding-right: 12%;
}

.header-title{
    font-size:xx-large;
    font-weight: 300;
}

.text-center{
    text-align:center;
}

.modal-dialog{
    top: 10%;
}