{% extends "base.html" %}

{% block imports %}
  <!-- LEAFLET -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />

  <!-- Popperjs [used for date-time selector] -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
  <!-- Tempus Dominus JavaScript [used for date-time selector] -->
  <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js" crossorigin="anonymous"></script>
  <!-- Tempus Dominus Styles [used for date-time selector] -->
  <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet" crossorigin="anonymous">

  <script src="dist/js/tempus-dominus.js"></script>
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>

  <!-- Overlapping Marker Spiderfier -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js" integrity="sha512-V8RRDnS4BZXrat3GIpnWx+XNYBHQGdK6nKOzMpX4R0hz9SPWt7fltGmmyGzUkVFZUQODO1rE+SWYJJkw3SYMhg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}

{% block navbar %}
  <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Inicio</a>
  <a class="nav-link" href="{{ url_for('new_station') }}">Crear estación</a>
  <a class="nav-link" href="{{ url_for('upload') }}">Subir archivo</a>
  <a class="nav-link" href="{{ url_for('about') }}">Sobre nosotros</a>
{% endblock %}

{% block content %}
  <!-- h1> ¡Bienvenido a SensoCat! </h1-->
  <div class="map" class="container py-4">
    <script src="http://leafletjs.com/dist/leaflet.js"></script>
    <!-- style margin [top, right, bottom, left]-->
    <div id="map" class="map map-home" style="margin: 0px 0px 0px 0px;height:94vh;"></div>

  <script>
    var map = L.map('map').setView([41.8204600, 1.8676800], 9);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; ' + mapLink + ' Contributors',
      maxZoom: 18,
    }).addTo(map)

    var oms = new OverlappingMarkerSpiderfier(map);
    var popup = new L.Popup();

    //On click opens spiderfier marker and appear all the markers that compose it (if it is more than one)
    oms.addListener('click', function(marker) {
      popup.setContent(marker.desc);
      popup.setLatLng(marker.getLatLng());
      map.openPopup(popup);
    });

    //On click merges all the markers of the spiderfier into one again
    oms.addListener('spiderfy', function(markers) {
      map.closePopup();
    });

    //items_data takes the list of stations and its information from routes (in python) and parses it to js
    var items_data = {{ items_data|safe }}
    var name_index = {{ name_index|safe }}
    var latitude_index = {{ latitude_index|safe }}
    var longitude_index = {{ longitude_index|safe }}
    //Array that contains all the station's coordinates [latitude, longitude]
    var array_coordinates = []

    //Places all the pins in the map
    for (var count_row = 0; count_row < items_data.length; count_row ++) {
      var item_data = items_data[count_row];
      var coordinates = new L.LatLng(item_data[latitude_index], item_data[longitude_index]);
      array_coordinates.push([parseFloat(item_data[latitude_index]), parseFloat(item_data[longitude_index])]);
      var marker = new L.Marker(coordinates);
      marker.desc = item_data[name_index] + "<br /> " + '<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="' + item_data + '">Más información</button>';
      map.addLayer(marker);
      oms.addMarker(marker);
    }
    //Centers the map given an array of coordinates
    var bounds = new L.LatLngBounds(array_coordinates);
    map.fitBounds(bounds);

    //Places all the pins in the map    
    /*for (var count_row = 0; count_row < items_data.length; count_row++) {
      marker = new L.marker([items_data[count_row][latitude_index], items_data[count_row][longitude_index]])
        .bindPopup(items_data[count_row][name_index] + "<br /> " + '<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="' + items_data[count_row] + '">Más información</button>')
        .addTo(map)
        .openPopup()
    }*/
    //var map = new L.map
  </script>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Estación:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/home/chart_table" method="GET" id="view_data_form">
          <div class="modal-body">
            <div id="no_data_message">
              No hay datos para esta estación
            </div>
            <div id="modal_form">
              <!-- Table of sensor's last readings -->
              <div id="div_table">
                Última lectura:
                <table class="table table-bordered">
                    <thead id="table_header">
                        <!-- <tr>
                            <td>Sensor</td><td>Lectura</td>
                        </tr> -->
                    </thead>
                    <tbody id="table_data">
                    </tbody>
                </table>
              </div>
              <!-- Sensor and date-time selector -->
              <div id="div_selector">
                Escoja un sensor:
                <select id="selector" onchange="handleSelectorChange(this)" class="form-select" aria-label="Default select example"></select>
                <br>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <!-- Initial date/time -->
                      <label for='linkedPickers1Input' class='form-label'>Des de:</label>
                      <div class='input-group log-event' id='linkedPickers1' data-td-target-input='nearest' data-td-target-toggle='nearest'>
                      <input id='linkedPickers1Input' type='text' class='form-control' data-td-target='#linkedPickers1'/>
                      <span class='input-group-text' data-td-target='#linkedPickers1' data-td-toggle='datetimepicker'>
                          <span class='fa-solid fa-calendar'></span>
                        </span>
                      </div>
                    </div>
                    <div class="col">
                      <!-- Final date/time -->
                      <label for='linkedPickers2Input' class='form-label'>Hasta: </label>
                      <div class='input-group log-event' id='linkedPickers2' data-td-target-input='nearest' data-td-target-toggle='nearest'>
                      <input id='linkedPickers2Input' type='text' class='form-control' data-td-target='#linkedPickers2'/>
                      <span class='input-group-text' data-td-target='#linkedPickers2' data-td-toggle='datetimepicker'>
                          <span class='fa-solid fa-calendar'></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <div class="mr-auto">
              <button id="togle_last_readings_button" type="button" class="btn btn-outline-primary" onclick="togle_last_readings()">Ver última lectura</button>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <!-- <button type="button" class="btn btn-primary" id="view_data_button" onclick="view_data()">Ver datos</button> -->
            <div id="div_submit">
              <button type="submit" class="btn btn-primary" id="view_data_button">Ver datos</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <script>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var recipient = button.getAttribute('data-bs-whatever')
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.

      recipient = recipient.split(",")
      // console.log(recipient)
      // console.log('INICIO: ',recipient[recipient.length-2])
      // console.log('FINAL: ', recipient[recipient.length-1])
      var reads = false
      //In case of having reports of this sensor recipient[recipient.length - 6] should bedifferent than 'nan'
      if (recipient[recipient.length - 6] != 'nan' && recipient[recipient.length - 6] != 'NaN'){
        //In case of having reports, there are 2n entries being n the number of sensors of the station
        //In order to access those sensors we have to access from the n-th previous position to the beginig of the recipient
        var go_back = (recipient.length - 5)/2
        reads = true
      }
      else{
        //In case of not having reports there are n entries, being n the number of sensor of the station
        //In order to access those sensors we have to access from the previous position (as this one is a 'nan value') to the beginig of the recipient
        var go_back = 1
      }
      console.log(recipient)
      var station_name = recipient[recipient.length - 4]

      var modalTitle = exampleModal.querySelector('.modal-title')
      modalTitle.textContent = 'Estación ' + station_name

      var modal_form = document.getElementById("modal_form");
      var togle_button = document.getElementById("togle_last_readings_button");
      var see_data_button = document.getElementById('div_submit');
      var no_data_message = document.getElementById('no_data_message');

      if (reads){
        var modalBodyInput = exampleModal.querySelector('.modal-body input')
        var selector = document.querySelector("#selector");
        selector.innerHTML = '';
        
        //Options contains all the sensors for one given station
        //To know where the sensors, which are at the begining of recipient, end we have to decrease the lenght of recipient by 5 ('Nombre', 'Fecha-inicio', 'Fecha-fin', 'Latitud', 'Longitud') + the go_back explained previously
        var options = recipient.slice(0, recipient.length - (5 + go_back));
        options.map(option => {
          var select = document.createElement('option');
          select.value = option;
          select.text = option;
          selector.appendChild(select);
        })

        //Date-time selector 
        const linkedPicker1Element = document.getElementById('linkedPickers1');
        const linked1 = new tempusDominus.TempusDominus(linkedPicker1Element);
        const linked2 = new tempusDominus.TempusDominus(document.getElementById('linkedPickers2'), {
          useCurrent: false
        });
        //using event listeners
        linkedPicker1Element.addEventListener(tempusDominus.Namespace.events.change, (e) => {
          linked2.updateOptions({
            restrictions: {
              minDate: e.detail.date
            }
          });
        });
        //using subscribe method
        const subscription = linked2.subscribe(tempusDominus.Namespace.events.change, (e) => {
          linked1.updateOptions({
            restrictions: {
              maxDate: e.date
            }
          });
        });

        //FORM
        
        //Set input field to blank so it does not remember the last date that has been put
        document.getElementById('linkedPickers1Input').value=''
        document.getElementById('linkedPickers2Input').value=''

        //When submit is clicked the form is formated and submitted
        document.getElementById('view_data_form').addEventListener('submit', function(s) {
          var sensor = document.getElementById('selector').value
          var initial_date = document.getElementById('linkedPickers1Input').value
          var final_date = document.getElementById('linkedPickers2Input').value
          //This function formats the date to the standard format
          function format_date_time(date){
            if(date.length == 22){
              if(date[17] == "p"){
                aux = parseInt(date[12])+12
                aux = aux.toString()
                date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T"+aux[0]+aux[1]+":"+date[14]+date[15]
              }
              else date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T0"+date[12]+":"+date[14]+date[15]
            }
            else if(date.length == 23){
              if(date[18] == "p"){
                if(date[13]=='2') date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T"+date[12]+date[13]+":"+date[15]+date[16]
                else{
                  aux = date[12]+date[13]
                  aux = parseInt(aux)+12
                  aux = aux.toString()
                  date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T"+aux[0]+aux[1]+":"+date[15]+date[16]
                }
              }
              else{
                if(date[13]=='2') date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T00:"+date[15]+date[16]
                else date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T"+date[12]+date[13]+":"+date[15]+date[16]
              }
            }
            return date
          }
          //first_read makes reference to 'Fecha-inicio' of a station's reports in 'Estaciones' table
          first_read = recipient[recipient.length-2]
          //last_read makes reference to 'Fecha-fin' of a station's reports in 'Estaciones' table
          last_read = recipient[recipient.length-1]
          //initial_date and final_date are now formated to the standard
          initial_date = format_date_time(initial_date)
          final_date = format_date_time(final_date)

          //If the specified date-time by the user (initial_date) is prior to the first read of the station (first_read),
          //if the specified date-time by the user (initial_date) is posterior the last read of the station (last_read),
          //or if no initial_date has been selected by the user, then the initial_date would have first_date value
          if((initial_date < first_read) || (initial_date > last_read) || initial_date == '') initial_date = first_read
          //If the specified date-time by the user (final_date) is posterior to the last read of the station (last_read),
          //if the specified date-time by the user (final_date) is prior the last read of the station (last_read),
          //if the specified date-time by the user (final_date) is prior to the specified date-time by the user (initial_date),
          //or if no initial_date has been selected by the user, then the initial_date would have first_date value
          if((final_date > last_read) || (final_date < first_read) || (final_date < initial_date) || final_date == '') final_date = last_read
          if(initial_date < final_date ) initial_date = first_read

          //Contruction of the GET's dynamic URL and submition of the form
          const template = (station_name, sensor, initial_date, final_date) => `/home/chart_table/${station_name}/${sensor}/${initial_date}/${final_date}`;
          s.preventDefault();
          this.action = template(station_name, sensor, initial_date, final_date);
          this.submit();
        });

        modal_form.style.display = "block";
        togle_button.style.display = "block";
        see_data_button.style.display = "block";
        no_data_message.style.display = "none";
        var last_readings = recipient.slice(go_back, recipient.length - 5);
        var test = last_readings[0]
        var test = test.split(":")
        
        const table_header = document.getElementById('table_header');
        table_header.innerHTML = '';

        var row = table_header.insertRow(0);
        var cell_sn = row.insertCell(0);
        var cell_sm = row.insertCell(1);
        cell_sn.innerHTML = "Sensor";                                 //sensor name
        cell_sm.innerHTML = "Lectura";                                //sensor measure

        const table_data = document.getElementById('table_data');
        table_data.innerHTML = '';

        //Loop through sensor names and sensor values [used to view the last readings from a sensor]
        for(i = 0; i < last_readings.length; i++){
            var sensor_read = last_readings[i]
            sensor_read = sensor_read.split(":")
            var sr_sensor = sensor_read[0]                            //sensor read sensor name
            var sr_value = parseFloat(sensor_read[1]).toFixed(2)      //sensor read sensor value
            //New tr and new td 
            const table_data_tr = document.createElement('tr');
            const table_data_td_sn = document.createElement('td');    //td sensor name
            const table_data_td_sm = document.createElement('td');    //td sensor measure
            //Append the matching pair
            const date_time = document.createTextNode(sr_sensor);
            const sensor_measure = document.createTextNode(sr_value);
            table_data_td_sn .appendChild(date_time);
            table_data_td_sm.appendChild(sensor_measure);
            //Append the childern
            table_data.appendChild(table_data_tr);
            table_data_tr.appendChild(table_data_td_sn);
            table_data_tr.appendChild(table_data_td_sm);
        }
      }
      else{
        modal_form.style.display = "none";  
        togle_button.style.display = "none";
        see_data_button.style.display = "none";
        no_data_message.style.display = "block";
      }  
    })
  </script>

  <!-- Togle between seeing and hidding last readings -->
  <script>
    var table = document.getElementById("div_table");
    table.style.display = "none";
    function togle_last_readings() {
      //var table = document.getElementById("div_table");
      var change_button = document.getElementById("togle_last_readings_button");
      if (table.style.display === "none") {
          table.style.display = "block";
          change_button.firstChild.data = "Ocultar última lectura";
      } else {
          table.style.display = "none";
          change_button.firstChild.data = "Ver última lectura";
      }
    }
  </script>

  <!-- {% block modal %}{% endblock %} -->
</div>

{% endblock %}