{% extends "base.html" %}

{% block map %}
<!-- LEAFLET -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
{% endblock %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
    <a class="nav-link" href="{{ url_for('upload') }}">Subir archivo</a>
    <a class="nav-link" href="{{ url_for('new_station') }}">Nueva estación</a>
    <a class="nav-link" href="{{ url_for('about') }}">Sobre nosotros</a>
{% endblock %}

{% block content %}
	<h1> ¡Bienvenido a SensoCat! </h1>
    <div class="map" class="container py-4">
    <!-- carga mas lento el mapa ->  <script src="https://onpkg.com/leaflet@1.0.3/dist/leaflet.js"></script> -->
    <script src="http://leafletjs.com/dist/leaflet.js"></script>
    <div id="map" class="map map-home" style="margin:12px 0 12px 0;height:600px;"></div>

        <script>
            var map = L.map('map').setView([41.39238915483426, 2.1621599834744623], 11);
            mapLink =
                '<a href="http://openstreetmap.org">OpenStreetMap</a>';
            L.tileLayer(
                'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; ' + mapLink + ' Contributors',
                    maxZoom: 18,
                }).addTo(map);

            //items_data takes the list of stations and its information from routes (in python) and parses it to js
            var items_data = {{ items_data|safe }}
            //Places all the pins in the map
            /*for (var count_row = 0; count_row < items_data.length; count_row++) {
                marker = new L.marker([items_data[count_row][1], items_data[count_row][0]])
                    .bindPopup(items_data[count_row][2] + "<br /> " +"<a href={{ url_for('modal') }}>Más información</a>")
                    .addTo(map)
                    .openPopup()
            }*/
            for (var count_row = 0; count_row < items_data.length; count_row++) {
                marker = new L.marker([items_data[count_row][1], items_data[count_row][0]])
                    .bindPopup(items_data[count_row][2] + "<br /> " + '<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="' +items_data[count_row][2]+ '">Más información</button>')
                    .addTo(map)
                    .openPopup()
            }
        </script>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Estación:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!--form-->
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                <!--/form-->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </div>
        </div>

        <script>
          var exampleModal = document.getElementById('exampleModal')
          exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = exampleModal.querySelector('.modal-title')
            var modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = 'Estación ' + recipient
            modalBodyInput.value = recipient
          })
      </script>
      
        <!-- {% block modal %}{% endblock %} -->
    </div>

{% endblock %}

