{% extends "base.html" %}

{% block map %}
  <!-- LEAFLET -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />

  <!-- Popperjs [used for date-time selector] -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
  <!-- Tempus Dominus JavaScript [used for date-time selector] -->
  <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js" crossorigin="anonymous"></script>
  <!-- Tempus Dominus Styles [used for date-time selector] -->
  <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet" crossorigin="anonymous">

  <script src="dist/js/tempus-dominus.js"></script>
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js" integrity="sha512-x/vqovXY/Q4b+rNjgiheBsA/vbWA3IVvsS8lkQSX1gQ4ggSJx38oI2vREZXpTzhAv6tNUaX81E7QBBzkpDQayA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}

{% block navbar %}
  <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Inicio</a>
  <a class="nav-link" href="{{ url_for('upload') }}">Subir archivo</a>
  <a class="nav-link" href="{{ url_for('new_station') }}">Nueva estación</a>
  <a class="nav-link" href="{{ url_for('about') }}">Sobre nosotros</a>
{% endblock %}

{% block content %}
  <!-- h1> ¡Bienvenido a SensoCat! </h1-->
  <div class="map" class="container py-4">
    <script src="http://leafletjs.com/dist/leaflet.js"></script>
    <!-- style margin [top, right, bottom, left]-->
    <div id="map" class="map map-home" style="margin: 0px 0px 0px 0px;height:94vh;"></div>

    <script>
      var map = L.map('map').setView([41.8204600, 1.8676800], 9);
      mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
      L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
      }).addTo(map);

      //items_data takes the list of stations and its information from routes (in python) and parses it to js
      var items_data = {{ items_data| safe }}
      var name_index = {{ name_index| safe }}
      var latitude_index = {{ latitude_index| safe }}
      var longitude_index = {{ longitude_index| safe }}

      //Places all the pins in the map
      /*for (var count_row = 0; count_row < items_data.length; count_row++) {
          marker = new L.marker([items_data[count_row][1], items_data[count_row][0]])
              .bindPopup(items_data[count_row][2] + "<br /> " +"<a href={{ url_for('modal') }}>Más información</a>")
              .addTo(map)
              .openPopup()
      }*/
      console.log(items_data)
      for (var count_row = 0; count_row < items_data.length; count_row++) {
        console.log('Nombre: ', items_data[count_row][name_index], ' Latitud: ', items_data[count_row][latitude_index], ' Longitude: ', items_data[count_row][longitude_index])
        marker = new L.marker([items_data[count_row][latitude_index], items_data[count_row][longitude_index]])
          .bindPopup(items_data[count_row][name_index] + "<br /> " + '<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="' + items_data[count_row] + '">Más información</button>')
          .addTo(map)
          .openPopup()
      }
    </script>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Estación:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/home/chart_table" method="GET" id="view_data_form">
            <div class="modal-body">
                Escoja un sensor:
                <select id="selector" onchange="handleSelectorChange(this)" class="form-select" aria-label="Default select example"></select>
                <br>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <!-- Initial date/time -->
                      <label for='linkedPickers1Input' class='form-label'>Des de:</label>
                      <div class='input-group log-event' id='linkedPickers1' data-td-target-input='nearest' data-td-target-toggle='nearest'>
                      <input id='linkedPickers1Input' type='text' class='form-control' data-td-target='#linkedPickers1'/>
                      <span class='input-group-text' data-td-target='#linkedPickers1' data-td-toggle='datetimepicker'>
                          <span class='fa-solid fa-calendar'></span>
                        </span>
                      </div>
                    </div>
                    <div class="col">
                      <!-- Final date/time -->
                      <label for='linkedPickers2Input' class='form-label'>Hasta: </label>
                      <div class='input-group log-event' id='linkedPickers2' data-td-target-input='nearest' data-td-target-toggle='nearest'>
                      <input id='linkedPickers2Input' type='text' class='form-control' data-td-target='#linkedPickers2'/>
                      <span class='input-group-text' data-td-target='#linkedPickers2' data-td-toggle='datetimepicker'>
                          <span class='fa-solid fa-calendar'></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <!-- <button type="button" class="btn btn-primary" id="view_data_button" onclick="view_data()">Ver datos</button> -->
              <button type="submit" class="btn btn-primary" id="view_data_button">Ver datos</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <script>
      var exampleModal = document.getElementById('exampleModal')
      exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.

        recipient = recipient.split(",")
        var station_name = recipient[recipient.length - 4]

        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'Estación ' + station_name
        var selector = document.querySelector("#selector");
        selector.innerHTML = '';
        // options contains all the sensors for one given station
        var options = recipient.slice(0, recipient.length - 5);
        options.map(option => {
          var select = document.createElement('option');
          select.value = option;
          select.text = option;
          selector.appendChild(select);
        })

        //Date-time selector 
        const linkedPicker1Element = document.getElementById('linkedPickers1');
        const linked1 = new tempusDominus.TempusDominus(linkedPicker1Element);
        const linked2 = new tempusDominus.TempusDominus(document.getElementById('linkedPickers2'), {
          useCurrent: false
        });
        //using event listeners
        linkedPicker1Element.addEventListener(tempusDominus.Namespace.events.change, (e) => {
          linked2.updateOptions({
            restrictions: {
              minDate: e.detail.date
            }
          });
        });
        //using subscribe method
        const subscription = linked2.subscribe(tempusDominus.Namespace.events.change, (e) => {
          linked1.updateOptions({
            restrictions: {
              maxDate: e.date
            }
          });
        });

        //FORM
        //When submit is clicked the form is formated and submitted
        document.getElementById('view_data_form').addEventListener('submit', function(s) {
          var sensor = document.getElementById('selector').value
          var initial_date = document.getElementById('linkedPickers1Input').value
          var final_date = document.getElementById('linkedPickers2Input').value
          //This function formats the date to the standard format
          function format_date_time(date){
            if(date.length == 22){
              if(date[17] == "p"){
                aux = parseInt(date[12])+12
                aux = aux.toString()
                date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T"+aux[0]+aux[1]+":"+date[14]+date[15]
              }
              else date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T0"+date[12]+":"+date[14]+date[15]
            }
            else if(date.length == 23){
              if(date[18] == "p"){
                if(date[13]=='2') date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T"+date[12]+date[13]+":"+date[15]+date[16]
                else{
                  aux = date[12]+date[13]
                  aux = parseInt(aux)+12
                  aux = aux.toString()
                  date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T"+aux[0]+aux[1]+":"+date[15]+date[16]
                }
              }
              else{
                if(date[13]=='2') date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T00:"+date[15]+date[16]
                else date = date[6]+date[7]+date[8]+date[9]+"-"+date[3]+date[4]+"-"+date[0]+date[1]+"T"+date[12]+date[13]+":"+date[15]+date[16]
              }
            }
            return date
          }
          //initial_date and final_date are now formated to the standard
          initial_date = format_date_time(initial_date)
          final_date = format_date_time(final_date)
          //Contruction of the GET's dynamic URL and submition of the form
          const template = (station_name, sensor, initial_date, final_date) => `/home/chart_table/${station_name}/${sensor}/${initial_date}/${final_date}`;
          s.preventDefault();
          this.action = template(station_name, sensor, initial_date, final_date);
          this.submit();
        });
        
      })
    </script>

    <!-- {% block modal %}{% endblock %} -->
  </div>
{% endblock %}