{% extends "base.html" %}

{% block navbar %}
    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
    <a class="nav-link" href="{{ url_for('upload') }}">Subir archivo</a>
    <a class="nav-link active" href="{{ url_for('new_station') }}">Nueva estación</a>
    <a class="nav-link" href="{{ url_for('about') }}">Sobre nosotros</a>
{% endblock %}

{% block content %}
	<form method="POST" action="/submit_station">
		<h2> Crear nueva estación </h2>
		{{ form_new_station.name.label }}
		{{ form_new_station.name }}
		<br>
		{{ form_new_station.latitude.label }}
		{{ form_new_station.latitude }}
		<br>
		{{ form_new_station.longitude.label }}
		{{ form_new_station.longitude }}
		<br>
		<ul id='pollutants'>
		{% for nested in form_new_station.pollutants.entries %}
			<li>
				{{ nested.label }}
				{{ nested() }}		
			</li>
		{% endfor %}
		</ul>
		<br>
		<button id="add-pollutant-field" type="button" class="btn btn-outline-secondary">Añadir contaminante</button>
		<button type="submit" class="btn btn-primary">Guardar estación</button>
	</form>
	<script>
	    window.onload = function() {
	        let add_pollutant_button = document.getElementById('add-pollutant-field');
	        add_pollutant_button.addEventListener('click', function(event){
	            event.preventDefault();
	            let all_pollutants_wrapper = document.getElementById('pollutants');
	            let all_pollutants_field = all_pollutants_wrapper.getElementsByTagName('input');
	            if(all_pollutants_field.length > 4) {
	                alert('You can  have only five movies name');
	                return;
	            }
	            let pollutants_inputs_id = []
	            for(let i = 0; i < all_pollutants_field.length; i++) {
	                pollutants_inputs_id.push(parseInt(all_pollutants_field[i].name.split('-')[1]));
	            }
	            let new_field_name = `pollutants-${Math.max(...pollutants_inputs_id) + 1}`;
	            all_pollutants_wrapper.insertAdjacentHTML('beforeend',`
	            <li id="${new_field_name}"><label for="${new_field_name}">Contaminante</label> <input id="${new_field_name}" name="${new_field_name}" type="text" value="">  <button type="button" class="btn btn-danger btn-sm"onClick="delete_station('${new_field_name}')">Eliminar contaminante</button> </li> 
	            `);
	        });
	    }

	    const delete_station = (id) => {
	    	console.log(id)
	    	var element = document.getElementById(id);
	    	element.parentNode.removeChild(element);
	    }
	</script>
	
{% endblock %}