{% extends "base.html" %}

{% block navbar %}
	<a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Inicio</a>
	<a class="nav-link active" href="{{ url_for('new_station') }}">Crear estación</a>
	<a class="nav-link" href="{{ url_for('upload') }}">Subir archivo</a>
	<a class="nav-link" href="{{ url_for('about') }}">Sobre nosotros</a>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<h2> Crear nueva estación </h2>
			<hr>
			<form method="POST" action="/new_station/submit_station">
				{{ form_new_station.name.label }}
				{{ form_new_station.name(class="form-control") }}
				<br>
				{{ form_new_station.latitude.label }}
				{{ form_new_station.latitude(class="form-control") }}
				<br>
				{{ form_new_station.longitude.label }}
				{{ form_new_station.longitude(class="form-control") }}
				<br>
				<div>
					<ul id='sensors' class="list-group list-group-flush">
						{% for nested in form_new_station.sensors.entries %}
						<li class="list-group-item bg-transparent">
							{{ nested.label }}
							{{ nested(class="form-control")}}
						</li>
						{% endfor %}
					</ul>
				</div>
				
				<br>
				<button id="add-sensor-field" type="button" class="btn btn-outline-secondary">Añadir sensor</button>
				<button type="submit" class="btn btn-primary">Guardar estación</button>
			</form>
		</div>
	</div>
	
	<!-- Delete sensor -->
	<script>
		window.onload = function () {
			let add_sensor_button = document.getElementById('add-sensor-field');
			add_sensor_button.addEventListener('click', function (event) {
				event.preventDefault();
				let all_sensors_wrapper = document.getElementById('sensors');
				let all_sensors_field = all_sensors_wrapper.getElementsByTagName('input');
				/*if(all_sensors_field.length > 4) {
					alert('You can  have only five movies name');
					return;
				}*/
				let sensors_inputs_id = []
				for (let i = 0; i < all_sensors_field.length; i++) {
					sensors_inputs_id.push(parseInt(all_sensors_field[i].name.split('-')[1]));
				}
				let new_field_name = `sensors-${Math.max(...sensors_inputs_id) + 1}`;
				all_sensors_wrapper.insertAdjacentHTML('beforeend', `
					<li id="${new_field_name}" class="list-group-item bg-transparent"> <label for="${new_field_name}">Sensor</label> <div class="input-group"> <input id="${new_field_name}" name="${new_field_name}" type="text" value="" class="form-control"> <div class="input-group-append"> <button type="button" class="btn btn-danger btn-sm"onClick="delete_station('${new_field_name}')">Eliminar sensor</button> </div> </div> </li>`);
			});
		}

		const delete_station = (id) => {
			console.log(id)
			var element = document.getElementById(id);
			element.parentNode.removeChild(element);
		}
	</script>
{% endblock %}