{% extends "base.html" %}

{% block navbar %}
	<a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Inicio</a>
	<a class="nav-link active" href="{{ url_for('new_station') }}">Crear estación</a>
	<a class="nav-link" href="{{ url_for('upload') }}">Subir archivo</a>
	<a class="nav-link" href="{{ url_for('about') }}">Sobre nosotros</a>
{% endblock %}

{% block content %}
	<br>
	<div class="container">
		<div class="card bg-transparent">
			<div class="card-header">
				<div class="header-title">
					Nueva estación creada
				</div>
			</div>
			<div class="card-body">
				
				La estación con los siguientes valores se ha creado correctamente <br>
				<br>

				<b>{{ form_new_station.name.label }}: </b>
				{{ form_new_station.name.data }}
				<br>
				<b>{{ form_new_station.latitude.label }}: </b>
				{{ form_new_station.latitude.data }}
				<br>
				<b>{{ form_new_station.longitude.label }}: </b>
				{{ form_new_station.longitude.data }}
				<br>

				<b>Sensores: </b>
				{% set first_element = namespace(bool="true") %}
				
				{% for nested in form_new_station.sensors.entries %}
						{% if first_element.bool == "true" %}
							{{ nested.data }}
							{% set first_element.bool = "false" %}
							<!-- {{ first_element.bool }} -->
						{% else %}
							, {{ nested.data }}
						{% endif %}
				{% endfor %}
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div  class="text-center">
									<a href="{{ url_for('new_station') }}"><button type="button" class="btn btn-primary">Crear otra estación</button></a>
									<a href="{{ url_for('upload') }}"><button type="button" class="btn btn-primary">Subir archivo</button></a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}