{% extends "base.html" %}

{% block content %}
	<h2> Subir archivo </h2>
	<form action="" method="post" enctype="multipart/form-data">
		<p>Selecciona que tipo de datos se van a subir:<p>
			{% for subfield in form.data_type %}
				<p>
					{{ subfield }}
					{{ subfield.label }}
				</p>
			{% endfor %}
			{% for error in form.data_type.errors %}
				<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		<p> Selecciona el archivo a subir:
			{{ form.file }}
			<br>
			<input type="submit" value="Subir">
		</p>
	</form>
{% endblock %}