{% extends "base.html" %}

{% block navbar %}
    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
    <a class="nav-link active" href="{{ url_for('upload') }}">Subir archivo</a>
    <a class="nav-link" href="{{ url_for('new_station') }}">Nueva estación</a>
    <a class="nav-link" href="{{ url_for('about') }}">Sobre nosotros</a>
{% endblock %}

{% block content %}
	<h2> Subir archivo </h2>
	<form action="" method="post" enctype="multipart/form-data">
		<p>Selecciona que tipo de datos se van a subir:<p>
			{% for subfield in form.data_type %}
				{{ subfield }}
				{{ subfield.label }} <br>
			{% endfor %}
			{% for error in form.data_type.errors %}
				<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		<p> Selecciona el archivo a subir:
			{{ form.file }}
			<br>
			<input type="submit" class="btn btn-primary" value="Subir">
		</p>
	</form>
{% endblock %}